# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/

# VS Code
.vscode/

# Generated reports
reports/*.json
reports/*.html

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
